<div class="container">
  <h1>todos</h1>
  <ul class="list-group" id="list">
    <li class="list-group-item">
      <form class="input-group" [formGroup]="newTodoForm" (submit)="postTodo()">
        <input
          id="new-content"
          type="text"
          class="form-control"
          placeholder="New TODO"
          formControlName="content"
        />
        <button
          class="btn btn-outline-secondary green-button"
          type="submit"
          id="add-new-todo-button"
        >
          <i class="bi bi-plus-lg"></i>
        </button>
      </form>
    </li>
    <li
      [ngClass]="{ 'bg-success bg-opacity-10': todo.completed }"
      *ngFor="let todo of todos"
      class="list-group-item"
      id="{{ todo.id }}"
    >
      <div class="row">
        <div class="col">
          <p>
            <input
              #content
              class="form-control"
              type="text"
              value="{{ todo.content }}"
              disabled
            />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <small class="text-muted align-middle">{{
            convertDate(todo.created).toLocaleString()
          }}</small>
        </div>
        <div class="col text-end">
          <div #controlButtons class="btn-group btn-group-sm btn-col">
            <button
              *ngIf="!todo.completed"
              class="btn btn-outline-secondary left-button green-button"
              (click)="markCompleted(todo.id)"
            >
              <i class="bi bi-check-lg"></i>
            </button>
            <button
              *ngIf="todo.completed"
              class="btn btn-outline-secondary left-button red-button"
              (click)="unmarkCompleted(todo.id)"
            >
              <i class="bi bi-x-lg"></i>
            </button>
            <button
              class="btn btn-outline-secondary indigo-button"
              (click)="content.disabled = false; editButtons.hidden = false; controlButtons.hidden = true"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-outline-secondary right-button red-button"
              (click)="deleteTodo(todo.id)"
            >
              <i class="bi bi-trash3"></i>
            </button>
          </div>
          <div #editButtons class="btn-group btn-group-sm btn-col" hidden>
            <button
              class="btn btn-outline-secondary green-button"
              (click)="content.disabled = true; editButtons.hidden = true; controlButtons.hidden = false; saveContent(todo.id, content.value)"
            >
              <i class="bi bi-check-lg"></i>
            </button>
            <button
              class="btn btn-outline-secondary right-button red-button"
              (click)="content.disabled = true; editButtons.hidden = true; controlButtons.hidden = false; content.value = todo.content"
            >
              <i class="bi bi-x-lg"></i>
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
